.conten {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 12dvh;
}

.apply {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.apply input {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  color: #686868;
  border: 1px solid rgb(0, 0, 0);
  font-weight: 500;
  width: calc(100% - 3rem);
  /* margin: 0.5rem 0; */
}

.apply select {
  color: #686868;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  /* margin: 0.5rem 0; */
  height: 50px;
  padding-left: 0.5rem;
  width: calc(100% - 0.9rem);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.apply textarea {
  color: #686868;
  border: 1px solid black;
  height: 150px;

  width: calc(100%);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}

.btn {
  background-color: black;
  border: 0px;
  color: white;
  padding: 0.7rem 3rem;
  margin: 1rem auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.error {
  color: red;
  width: 100%;
  display: flex;
  justify-content: center;
}

.errors {
  display: flex;
  color: red;
  height: 25px;
  font-size: 0.7rem;
  width: calc(100% - 0.9rem);
  justify-content: center;
}

.errors::before {
  content: "⠀";
}
.errors::after {
  content: "⠀";
}

.input1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input2 {
  align-items: end;
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 720px) {
  .apply {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .apply textarea {
    width: calc(100% - 3rem);
  }

  .input1,
  .input2 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
